@media (max-width: 600px) {
    body {
        background-image: url('saioaHasi.webp');
        /* Puedes usar la misma imagen o una diferente para móviles */
        background-size: cover;
        /* Asegura que la imagen cubra todo el espacio disponible */
        background-position: center;
        /* Centra la imagen en la página */
        background-repeat: no-repeat;
        /* Evita que la imagen se repita */
        /* No usamos 'background-attachment: fixed;' en móviles para prevenir problemas de rendimiento */
    }
}
body {
    background-image: url('saioaHasi.webp');
    background-size: cover;
    background-position: center;    
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Arial', sans-serif;
    height: 100vh;
    margin: 0;
}
#switch-button{
    width: 300px;
}
#login-form, #register-form {
    background: rgba(255, 255, 255, 0.8); /* Fondo blanco con transparencia */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-top: 120px;

}

#login-form h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px;
    margin-top: 10px;
    background-color: #5C8CE6;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4a76d4;
}
